.barchart{
	position:relative;
	overflow:hidden;
}
.container{
	overflow:hidden;
	padding:0px 0px 0px 70px;
}
.container .barchart{
	overflow:visible;
}

.barchart .bar .title{
	position:absolute;
	left:-70px;
	width:65px;
	text-align:right;
	line-height:0.7em;
	font-size:0.8em;
}

.barchart .bar{
	position:relative;
	height:30px;
}

.barchart .line{
	height:25px;
	background:#469bdc;
	position:absolute;
	bottom:5px;
	left:0px;
	text-align:right;
	text-shadow:1px 1px 2px #FFFFFF,1px 1px 2px #FFFFFF,-1px -1px 2px #FFFFFF;
}

.barchart .rule{
	position:relative;
	height:30px;
}
.barchart .rule .tick{
	position:absolute;
	top:0px;
	left:0px;
	border-left:1px #000 solid;
}