.barchart{
	position:relative;
	overflow:hidden;
}
.container{
	overflow:hidden;
	padding:70px;
}
.container .barchart{
	overflow:visible;
}

.barchart .bar .title{
	position:absolute;
	left:-70px;
	width:65px;
	text-align:right;
	line-height:1em;
	font-size:0.8em;
}

.barchart .bar{
	position:relative;
	height:30px;
}

.barchart .line{
	height:25px;
	background:#469bdc;
	position:absolute;
	bottom:5px;
	left:0px;
	text-align:right;
	text-shadow:1px 1px 2px #FFFFFF,1px 1px 2px #FFFFFF,-1px -1px 2px #FFFFFF;
}

.barchart .rule{
	position:relative;
	height:30px;
}
.barchart .rule .tick{
	position:absolute;
	top:0px;
	left:0px;
	border-left:1px #000 solid;
}


.barchart.horizontal{
	height:300px;
}
.barchart.horizontal .bar{
	width:90px;
	margin-right:10px;
	height:300px;
	float:left;
}
.barchart.horizontal .line{
	position:absolute;
	left:20px;
	bottom:0px;
	width:40px;
}
.barchart.horizontal .title{
	position:absolute;
	top:310px;
	left:0px;
	width:100%;
	text-align:center;
}

.barchart.horizontal .rule{
	position:absolute;
	left:-70px;
	top:0px;
	width:100%;
}

.barchart.horizontal .rule .tick{
	border-left:0px;
	border-top:1px #000 solid;
	top:300px;
}

.barchart .number{
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
	color:#747474;
	width:40px;
	font-size:0.7em;
}

.barchart .hover .number{
	color:#000;
	font-size:1em;
}