.cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
ul.nav.main{
	padding:0px;
}
.nav.main li{
	float:left;
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.nav.main li a{
	margin:3px 7px 3px 0px;
	text-decoration:none;
	font-size:1.2em;
}

.treemap{
	clear:both;
}

.treemap .nav{
	float:left;
	width:170px;
	overflow:hidden;
}

.treemap .nav h4{
	margin:0px;
	padding:0px;
	font-size:1em;
}

.treemap .nav ul{
	width:170px;
	float:none;
	display:block;
}

.chart.treemap .map{
	width:650px;
	float:left;
	height:500px;
}

.chart.treemap .total{
	float:none;
	margin:0px;
}