.cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.navigation{
	clear:both;
	height:auto;
	margin:0px;
	padding:0px;
}
.navigation li.col{
	width:170px;
	float:left;
	display:block;
	list-style-type:none;
}
.navigation li.col li{
	float:none;
	width:auto;
	display:block;
}

.navigation a.button{
	margin-bottom:4px;
}
.navigation a.button.type{
	font-size:1.1em;
}
.navigation a.button.filter{
	
}


.treemap{
	clear:both;
	overflow:hidden;
}
.chart.treemap .map{
	width:auto;
	height:400px;
}

.chart.treemap .total{
	float:none;
	margin:0px;
}