
.y-axis .bar{
	height:20px;
	display:block;
	position:relative;
}
.y-axis .title{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	text-align:right;
}

.x-axis{
	margin-left:200px;
	height:30px;
}

.x-axis .bar{
	width:75px;
	float:left;
	position:relative;
}
.x-axis .bar .title{
	position:absolute;
	bottom:0px;
	left:0px;
}
.x-axis .bar .line{
	position:absolute;
	width:20px;
	height:0px;
}