{% extends 'layout.html' %}

{% block content %}
<ul>
	<li><a href="/treemap">Treemap of Testing Data</a></li>
	<li><a href="/bar#/?type=ethnicity&filter=Census">Bar Chart of 2010 Population</a></li>
	<li><a href="/population#/?type=ethnicity&filter=White&percent=on">2010 Population</a></li>
	<li><a href="/population/config#/?type=ethnicity&filter=Population&percent=on&total=Population">Configurable Version of 2010 Population</a></li>
	<li><a href="/regional">Regional HIV Populations</a></li>
</ul>
{% endblock %}