{% extends 'layout.html' %}

{% block scripts %}
	{{super()}}
	<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
	<script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
	<script type="text/javascript" src="/static/js/d3/d3.layout.min.js"></script>
	<script type="text/javascript" src="/static/js/d3/d3.csv.min.js"></script>
	<script type="text/javascript" src="/static/js/barchart.js"></script>
{% endblock %}


{% block content %}
<form class="controls">
	<fieldset class="filter">
		<label><input type="radio" name="filter" value="Incidence" />New Infections</label>
		<label><input type="radio" name="filter" value="Population" />Positive Population</label>
	</fieldset>
	<fieldset class="overall">
		<label><input type="radio" name="overall" value="Population" />Positive Population</label>
		<label><input type="radio" name="overall" value="Census" />SF Population</label>
	</fieldset>
	<label><input id="demographic" type="checkbox" />By Demographic</label>
	<label><input id="scale" type="checkbox" />Modify Scale</label>
</form>
<br style="clear:both;" />
<div class="chart barchart" data-duration="1500" data-ticks="6" data-csv="/static/data/2010PosPopCensus.csv"></div>
{% endblock %}

{% block footer %}
<p>The HIV+ population data illustrated on this page was collected by the San Francisco Department of Public Health HIV Prevention Section.</p>
<p>San Francisco city wide population demographics are from the 2010 US Census.</p>
<p>This is the bottom.  Have a nice day.</p>
{{super()}}
{% endblock %}

{% block templates %}
<div class="highlight">
	<div class="percent"><div class="number"></div>%</div>
	<div class="total"><div class="number"></div> people</div>
	<form class="comment" action="#" method="post">
		<textarea name="comment"></textarea>
		<input type="submit" value="Share" />
	</form>
</div>
{% endblock %}