{% extends 'layout.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/barchart.css" />
<link rel="stylesheet" href="/static/css/highlight.css" />
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.layout.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.csv.min.js"></script>
<script type="text/javascript" src="/static/js/barchart.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$.address.parameter("type","ethnicity");
	
	$("form.controls .filter input").click(function(event){
		$.address.parameter("filter",this.value);
	});
	$("#percent").click(function(){
		if(this.checked){
			$.address.parameter("percent",this.value);
		}else{
			$.address.parameter("percent","");
		}
	});
	$("#scale").click(function(){
		if(this.checked){
			$.address.parameter("scale",this.value);
		}else{
			$.address.parameter("scale","");
		}
	});
});

function return_number(d){
	if(!$.address.parameter("percent") || $.address.parameter("percent")==""){
		$(".chart").removeClass("percent");
		return Number(d[unescape($.address.parameter("filter"))]);
	}
	$(".chart").addClass("percent");
	return Math.round(d[unescape($.address.parameter("filter"))]/d['Total']*100);
}

</script>
{% endblock %}

{% block header %}
<h1>San Francisco Ethnic Demographics by HIV Status in 2010</h1>
{% endblock %}

{% block content %}
<form class="controls">
	<fieldset class="filter">
		<label class="radio"><input name="filter" type="radio" value="White" />White</label>
		<label class="radio"><input name="filter" type="radio" value="African American" />African American</label>
		<label class="radio"><input name="filter" type="radio" value="Latino" />Latino</label>
		<label class="radio"><input name="filter" type="radio" value="Asian/Pacific Islander" />Asian/Pacific Islander</label>
	</fieldset>
	<label><input id="percent" type="checkbox" />As Percentage</label>
	<label><input id="scale" type="checkbox" />Modify Scale</label>
</form>
<div class="chart barchart percent horizontal" data-duration="1500" data-ticks="6" data-rotate="true" data-csv="/static/data/2010PopPercentages.csv"></div>
{% endblock %}

{% block templates %}
<div class="highlight"></div>
{% endblock %}