{% extends 'layout.html' %}

{% block scripts %}
	{{super()}}
	<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.csv.js"></script>
	<script type="text/javascript" src="/static/js/data-parse.js"></script>
	<script type="text/javascript" src="/static/js/graph.js"></script>
<!--	<script type="text/javascript" src="/static/js/highlight.js"></script>	-->
	<script type="text/javascript" src="/static/js/population.js"></script>
{% endblock %}


{% block content %}
<div class="controls">
	<ul class="numerator">
		<li><label><input id="new-num" type="radio" name="num" value="Incidence" />New Infections</label></li>
		<li><label><input id="pos-num" type="radio" name="num" value="Population" />Positive Population</label></li>
	</ul>
	<ul class="denominator">
		<li><label><input id="pos-denom" type="radio" name="denom" value="Population" />Positive Population</label></li>
		<li><label><input type="radio" id="pop-denom" name="denom" value="Census" />SF Population</label></li>
	</ul>
	<label><input id="demographic" type="checkbox" />By Demographic</label>
	<label><input id="scale" type="checkbox" />Modify Scale</label>
</div>
<br style="clear:both;" />
<div class="chart" data-source="/static/data/2010PosPopCensus.csv"></div>
{% endblock %}

{% block footer %}
<p>The HIV+ population data illustrated on this page was collected by the San Francisco Department of Public Health HIV Prevention Section.</p>
<p>San Francisco city wide population demographics are from the 2010 US Census.</p>
<p>This is the bottom.  Have a nice day.</p>
{{super()}}
{% endblock %}

{% block templates %}
<div class="highlight">
	<div class="percent"><div class="number"></div>%</div>
	<div class="total"><div class="number"></div> people</div>
	<form class="comment" action="#" method="post">
		<textarea name="comment"></textarea>
		<input type="submit" value="Share" />
	</form>
</div>
{% endblock %}