{% extends 'layout.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/barchart.css" />
<style type="text/css">
body .barchart.horizontal .bar{
	width:55px;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.layout.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.csv.min.js"></script>
<script type="text/javascript" src="/static/js/barchart.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$.address.parameter("type","ethnicity");
	
	$("form").delegate("input","click",function(event){
		$.address.parameter("filter",this.value);
	});
});
</script>
{% endblock %}
{% block content %}
<div class="chart barchart horizontal" data-duration="1500" data-ticks="6" data-csv="/static/data/CumulativeAIDSCases.csv"></div>
<form>
<fieldset class="ethnicity">
	<legend>Year</legend>
	<label><input type="radio" name="filter" value="2004">2004</label>
	<label><input type="radio" name="filter" value="2005">2005</label>
	<label><input type="radio" name="filter" value="2006">2006</label>
	<label><input type="radio" name="filter" value="2007">2007</label>
	<label><input type="radio" name="filter" value="2008">2008</label>
	<label><input type="radio" name="filter" value="2009">2009</label>
	<label><input type="radio" name="filter" value="2010">2010</label>
</fieldset>
</form>
{% endblock %}