{% extends 'layout.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/barchart.css" />
<style type="text/css">
body .barchart.horizontal .bar{
	width:55px;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.layout.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.csv.min.js"></script>
<script type="text/javascript" src="/static/js/barchart.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$.address.parameter("type","ethnicity");
	
	$(".xychart").delegate("a.title","click",function(event){
		event.preventDefault();
		$.address.parameter("filter",$(this).data("value"));
	});
});
</script>
{% endblock %}
{% block content %}
<div class="chart barchart horizontal" data-duration="1500" data-ticks="6" data-csv="/static/data/CumulativeAIDSCases.csv"></div>
{% endblock %}