{% extends 'layout.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/circle.css" />
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.layout.min.js"></script>
<script type="text/javascript" src="/static/js/testing_circle.js"></script>
{% endblock %}
{% block content %}
<form class="navigation">
	<fieldset class="type">
		<legend>Group</legend>
		<label><input type="radio" name="type" value="ethnicity">Ethnicity</label>
		<label><input type="radio" name="type" value="gender">Gender</label>
		<label><input type="radio" name="type" value="age">Age</label>
		<label><input type="radio" name="type" value="site">Location Type</label>
	</fieldset>
</form>
<div class="chart circle">
	<div class="total">Showing <span class="number"></span><span class="filter"></span> HIV Tests</div>
</div>
<form class="navigation">
	<fieldset class="filter">
		<legend>View only group</legend>
		<label><input type="radio" name="filter" value="size">View All</label>
		<fieldset class="ethnicity">
			<legend>Ethnicity</legend>
			<label><input type="radio" name="filter" value="White">White</label>
			<label><input type="radio" name="filter" value="African American">African American</label>
			<label><input type="radio" name="filter" value="Latino">Hispanic/Latino</label>
			<label><input type="radio" name="filter" value="Asian">Asian/Pacific Islander</label>
			<label><input type="radio" name="filter" value="Native American">Native American</label>
			<label><input type="radio" name="filter" value="Declined">Declined</label>
			<label><input type="radio" name="filter" value="Other">Other</label>
		</fieldset>
		<fieldset class="gender">
			<legend>Gender</legend>
			<label><input type="radio" name="filter" value="Male">Male</label>
			<label><input type="radio" name="filter" value="Female">Female</label>
			<label><input type="radio" name="filter" value="Trans">Trans</label>
		</fieldset>
		<fieldset class="age">
			<legend>Age</legend>
			<label><input type="radio" name="filter" value="0-12">0 to 12</label>
			<label><input type="radio" name="filter" value="13-19">13 to 19</label>
			<label><input type="radio" name="filter" value="20-29">20 to 29</label>
			<label><input type="radio" name="filter" value="30-39">30 to 39</label>
			<label><input type="radio" name="filter" value="40-49">40 to 49</label>
			<label><input type="radio" name="filter" value="50+">50+</label>
		</fieldset>
		<fieldset class="site">
			<legend>Location Type</legend>
			<label><input type="radio" name="filter" value="Methadone">Methadone</label>
			<label><input type="radio" name="filter" value="Community Based Organization">Community Clinic</label>
		</fieldset>
	</fieldset>
</form>
{% endblock %}

{% block templates %}
{% endblock %}